<html>
<head>
<title>PDF Generator for label maker</title>
<script src="./js/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/bootstrap-theme.min.css" />
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<!--<script src="./js/genLabelClientRequest.js"></script>-->
<script>
function createLabel() { window.open("genLabel?docTitle=" + document.genLabel.docTitle.value + "&docPayload=" + document.genLabel.docPayload.value + "&docBarcode=" + document.genLabel.docBarcode.value,null) }
</script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
 <a class="navbar-brand" href="">rew0rk / canterlot / genLabel</a>
</nav>

<div class="container" ng-app="genLabel" ng-controller="GenLabelController">
 <form name="genLabel" class="form-signin">
  <h3 class="form-signin-heading">Create Label</h3>
  <label>Label Title</label>
  <input name="docTitle" ng-model="label.docTitle" type="text" class="form-control" placeholder="Top Label eg: SELL BY" required value="SELL BY" />
  <label>Label Data</label>
  <input name="docPayload" ng-model="label.docPayload" type="text" class="form-control" placeholder="99/99/99" required autofocus value="" />
  <label>Barcode</label>
  <input name="docBarcode" ng-model="label.docBarcode" type="text" class="form-control" placeholder="12345678" />
  <!--<button ng-click="requestPDF(label)" class="btn btn-lg btn-primary btn-block" type="submit">Create Label</button>-->

  <button onClick="createLabel()" class="btn btn-lg btn-primary btn-block" type="submit">Create Label</button>
 </form>
</div>
</body>
</html>
